<%- include("partials/header.ejs") %>
<!-- Section Title and sort -->
<section class=" p-2">
    <div class="d-flex justify-content-center">
        <h1 class="fs-1 fw-bold heading p-2">My Books Library</h1>
    </div>
    <form class="d-flex justify-content-center justify-content-lg-between" action="/changeOrder" method="post">
        <div>
            <button class="btn btn-dark my-2" type="submit" name="new" value="new">Add new Book</button>
        </div>
        <div class="sortBox d-flex">
            <img class="sortIcon  <% if(sort=="ASC"){ %>sortInc<% }else{ %> sortDec<% } %>" alt="sort_icon" height="30rem">
            <input hidden name="sort" value="<%= sort %>" id="incOrDec"/>
            <div class="p-1">
                <input type="radio" id="title" name="sortBy" value="title" <% if(sortBy=="title"){ %>checked<% } %> />
                <label for="huey">Title</label>
            </div>
            
            <div class="p-1">
                <input type="radio" id="review" name="sortBy" value="review" <% if(sortBy=="review"){ %>checked<% } %>/>
                <label for="dewey">Review</label>
            </div>
            
            <div class="p-1">
                <input type="radio" id="date" name="sortBy" value="date_read" <% if(sortBy=="date_read"){ %>checked<% } %>/>
                <label for="louie">Date</label>
            </div>
            <button type="submit" class="btn btn-dark ms-3">Sort</button>
        </div>
    </form>
    
</section>
<!--search result-->
<% if(locals.search){ %>
<section class="p-2">
    <h4>Search results for Title name "<%=search%>" :</h4>
</section>
<% } %>

<!--No book Found-->
<% if(books.length<=0){ %>
<section class="d-flex justify-content-center m-5">
    <h2>No Book Found..!!</h2>
</section>
<% } %>
<!-- books poster -->
<section>
    <% books.forEach(book => { %>
    <div id="<%= book.id %>" class="p-2 bookPoster">
        <img class="bookImage me-3" src="https://covers.openlibrary.org/b/isbn/<%= book.book_cover_isbn %>-L.jpg" alt="book_image" height="300rem"/>
        <div class="content">
            <div class="d-flex justify-content-between">
                <h2 class="fs-2"><%= book.title %></h2> 
                <form action="/delete" method="post">
                    <input hidden name="bookId" value="<%= book.id %>">
                    <button type="submit" class="fs-6 my-2 cross" title="delete book">╳</button>
                </form>
            </div>
            
            <h3 class="fs-6 author">By : <%= book.author %></h3>
            <div class="d-flex justify-content-between fw-bolder">
                <h5 class="fs-6 ">Review: <span id="<%= book.id %>" class="review"><%= book.review %></span> /10</h5> 
                <h3 class="fs-6  ">Read on: <% const date = new Date(book.date_read); const options = { year: 'numeric', month: 'long', day: 'numeric' }; const formattedDate = new Intl.DateTimeFormat('en-US', options).format(date); %><%=formattedDate  %></h3>
            </div>
            <hr/>
            <h3 class="fs-5 fw-bold summary">Summary: </h3>
            <p id="<%= book.id %>" class="bookNote"><%= book.note %></p>
        </div>
    </div>
    <hr/>
    <% }); %>
</section>


<%- include("partials/footer.ejs") %>